/**/AutoMockable.generated.swift

.DS_Store
/**/.build
/**/.swiftpm
xcuserdata/
/.build
/Packages
/Frameworks/**/*.xcodeproj
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata